{% extends 'base.html.twig' %}

{% block title %}Modifier lieu{% endblock %}
{% block pageName %}Modifier le lieu de l'évémenent {% endblock %}

{% block body %}

    {% if app.user.isActive == false %}
        <h2 >Compte bloqué</h2>
        <p>L'accès de votre compte a été restreint par les administrateurs.</p>
    {% endif %}

    {% if app.user.isActive == true %}
        <div class="">
            {{ include('venue/_form.html.twig', {'button_label': 'Modifier'}) }}
            <br>
            {{ include('venue/_delete_form.html.twig') }}
            <br>
            <a href="{{ path('app_venue_index') }}">Retour à la liste</a>
        </div>
    {% endif %}

{% endblock %}
