{% extends 'base.html.twig' %}

{% block title %}Nouveau lieu {% endblock %}
{% block pageName %}Créer un nouveau lieu d'événement{% endblock %}

{% block body %}

    {% if app.user.isActive == false %}
        <h2 >Compte bloqué</h2>
        <p>L'accès de votre compte a été restreint par les administrateurs.</p>
    {% endif %}

    {% if app.user.isActive == true %}
        {{ include('venue/_form.html.twig') }}
    {% endif %}

    <a href="{{ path('app_venue_index') }}">Retour à la liste</a>
    <a href="{{ path('home_home') }}">Retour à l'accueil</a>

{% endblock %}
