{%  extends "base.html.twig" %}

{% form_theme create_event_form 'bootstrap_5_layout.html.twig' %}

{% block title %}{{ parent() }}: Nouvel évenement{% endblock %}

{% block pageName %}Créer un évenement{% endblock %}

{% block body %}

    {% if app.user.isActive == false %}
        {{ include('security/blocked.html.twig') }}
    {% endif %}

    {% if app.user.isActive == true %}
        <div class="flex justify-content">
            {{ form(create_event_form) }}
        </div>
    {% endif %}

    <a href="{{ path('home_home') }}">Retour à l'accueil</a>

{% endblock %}