{% extends 'base.html.twig' %}

{% block pageName %}

{% endblock %}

{% block body %}
    <p> La mise a jour des événements est terminée</p>
    <p> Executé le : {{ 'now' | date('d-m-Y') }} à {{ 'now' | date('H:i:s') }}</p>
    <a href="{{ path('home_home') }}"></a>
{% endblock %}