<form method="post" action="{{ path('app_campus_delete', {'id': campus.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer ce site?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ campus.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
