{% extends 'base.html.twig' %}

{% block title %}Nouveau site{% endblock %}
{% block pageName %}Créer un nouveau site {% endblock %}

{% block body %}
<div class="container-sm w-25 mt-4">
    {{ include('campus/_form.html.twig') }}
</div>
{% endblock %}
