{% extends 'base.html.twig' %}

{% block title %}Nouvelle ville {% endblock %}
{% block pageName %}Créer une nouvelle ville{% endblock %}

{% block body %}

    {% if app.user.isActive == false %}
        <h2>Compte bloqué</h2>
        <p>L'accès de votre compte a été restreint par les administrateurs.</p>
    {% endif %}

    {% if app.user.isActive == true %}
        {{ include('city/_form.html.twig') }}
    {% endif %}

    <a href="{{ path('app_city_index') }}">Retour à la liste</a>
    <a href="{{ path('home_home') }}">Retour à l'accueil</a>

{% endblock %}
