{% extends 'base.html.twig' %}


{% block title %}Accès refusé{% endblock %}
{% block pageName %}Accès refusé{% endblock %}

{% block body %}

    <div class="mx-auto">
    <img
            class="img-fluid mx-auto d-block"
            src="{{ asset('images/403error.jpg')}}"
            alt="Gandalf"/>
    </div>
{% endblock %}